[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rlog = "==0.3"
fastapi = "*"
uvicorn = "==0.11.8"
motor = "==2.5.1"
meraki = "==1.15.0"
python-dotenv = "*"
"pytest-7.1.2" = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test = "pytest"