.Endpointdescription {
  color: #6c757d;
  font-size: 13px;
  margin-top: -3px;
}

.ac-dashboard {
  color: #17a2b8;
}

input:required {
  border-color: #f80000;
  border-width: 1px;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #d5d5d5;
  cursor: col-resize;
}

.parameter-input {
  margin-bottom: 10px;
}

.json-to-table {
  color: #1f2d3dde;
}

.json-to-table table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Source Sans Pro" !important;
  font-size: 13px !important;
}
.json-to-table td {
  letter-spacing: 0.8px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.rjsf h5 {
  font-size: 16px;
  text-transform: uppercase;
}
.rjsf .mb-3 {
  font-size: 13px;
}
.rjsf .form-check-label {
  font-size: 14px;
}
.rjsf .custom-select {
  font-size: 14px;
}
.rjsf .form-control {
  font-size: 14px;
  max-width: 300px;
}
.rjsf .form-group {
  font-size: 14px;
  max-width: 300px;
}

.rjsf .btn-primary {
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.rjsf .btn-primary:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.rjsf .btn-primary:focus {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.rjsf .array-item-add {
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.rjsf .array-item-add:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.rjsf .array-item-add:focus {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.rjsf .array-item-add:focus,
.rjsf .array-item-add.focus {
  box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
}

.react-bootstrap-table {
  font-size: 13px;
}
.react-bootstrap-table-pagination {
  font-size: 13px;
}
.react-bootstrap-table-pagination .dropdown-menu {
  font-size: 13px;
}
#pageDropDown {
  font-size: 13px;
}

.table-sm td,
.table-sm th {
  font-size: 13px;
}

.html-table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.075);
}

.rnc__notification-item {
  box-shadow: 1px 3px 4px transparent !important;
}

.info-box.bg-success {
  font-size: 13px;
}

.info-box.bg-info {
  font-size: 13px;
}
.info-box.bg-danger {
  font-size: 13px;
}
.info-box.bg-warning {
  font-size: 13px;
}

.info-box .info-box-number {
  font-weight: 400 !important;
}
