.Endpointdescription {
  color: #6c757d;
  font-size: 13px;
  margin-top: -3px;
}

.ac-dashboard {
  color: #17a2b8;
}

input:required {
  border-color: #f80000;
  border-width: 1px;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #d5d5d5;
  cursor: col-resize;
}

.parameter-input {
  margin-bottom: 10px;
}

.json-to-table {
  color: #1f2d3dde;
}

.json-to-table table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Source Sans Pro" !important;
  font-size: 13px !important;
}
.json-to-table td {
  letter-spacing: 0.8px;
}
