
body:not(.layout-fixed) .main-sidebar {
  min-height: 100vh !important;

}


.apiEndpoints {
  font-size: 13px;
  text-transform: capitalize;
}

[class*="sidebar-dark-"] .sidebar a:focus {
  color: #fff;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active {
  background-color: #17a2b85c !important;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-logo {
  padding: 8px 16px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}
