{
  "openapi": "3.0.0",
  "info": {
    "title": "Meraki Dashboard API",
    "description": "\n *Version 1.0.0-beta*\n\nThe Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.\n\n> Date: 06 December, 2019\n>\n> [What's New](https://meraki.io/whats-new/)\n\n---\n\n[API Documentation](https://meraki.io/api)\n\n[Community Support](https://meraki.io/community)\n\n[Meraki Homepage](https://www.meraki.com)\n\n\n  ",
    "contact": {},
    "version": "1.0.0-beta"
  },
  "servers": [
    {
      "url": "https://api.meraki.com/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/organizations/{organizationId}/apiRequests": {
      "get": {
        "tags": ["API usage"],
        "summary": "getOrganizationApiRequests",
        "description": "List the API requests made by an organization",
        "operationId": "getOrganizationApiRequests",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 31 days after t0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 50.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adminId",
            "in": "query",
            "description": "Filter the results by the ID of the admin who made the API requests",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Filter the results by the path of the API requests",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "Filter the results by the method of the API requests (must be 'GET', 'PUT', 'POST' or 'DELETE')",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseCode",
            "in": "query",
            "description": "Filter the results by the response code of the API requests",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sourceIp",
            "in": "query",
            "description": "Filter the results by the IP address of the originating API request",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"adminId\": \"212406\",\r\n    \"method\": \"GET\",\r\n    \"host\": \"api.meraki.com\",\r\n    \"path\": \"/api/v0/organizations/33349/apiRequests\",\r\n    \"queryString\": \"timespan=604800\",\r\n    \"userAgent\": \"PostmanRuntime/7.6.0\",\r\n    \"ts\": \"2019-02-20T17:31:23Z\",\r\n    \"responseCode\": 200,\r\n    \"sourceIp\": \"123.123.123.1\"\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"adminId\": \"212406\",\r\n    \"method\": \"GET\",\r\n    \"host\": \"api.meraki.com\",\r\n    \"path\": \"/api/v0/organizations/33349/apiRequests\",\r\n    \"queryString\": \"timespan=604800\",\r\n    \"userAgent\": \"PostmanRuntime/7.6.0\",\r\n    \"ts\": \"2019-02-20T17:31:23Z\",\r\n    \"responseCode\": 200,\r\n    \"sourceIp\": \"123.123.123.1\"\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/actionBatches": {
      "post": {
        "tags": ["Action batches"],
        "summary": "createOrganizationActionBatch",
        "description": "Create an action batch",
        "operationId": "createOrganizationActionBatch",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createOrganizationActionBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": ["Action batches"],
        "summary": "getOrganizationActionBatches",
        "description": "Return the list of action batches in the organization",
        "operationId": "getOrganizationActionBatches",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"id\": \"123\",\r\n    \"organizationId\": \"2930418\",\r\n    \"confirmed\": true,\r\n    \"synchronous\": false,\r\n    \"status\": {\r\n      \"completed\": false,\r\n      \"failed\": false,\r\n      \"errors\": []\r\n    },\r\n    \"actions\": [\r\n      {\r\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n        \"operation\": \"update\",\r\n        \"body\": {\r\n          \"enabled\": false\r\n        }\r\n      }\r\n    ]\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"id\": \"123\",\r\n    \"organizationId\": \"2930418\",\r\n    \"confirmed\": true,\r\n    \"synchronous\": false,\r\n    \"status\": {\r\n      \"completed\": false,\r\n      \"failed\": false,\r\n      \"errors\": []\r\n    },\r\n    \"actions\": [\r\n      {\r\n        \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n        \"operation\": \"update\",\r\n        \"body\": {\r\n          \"enabled\": false\r\n        }\r\n      }\r\n    ]\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/actionBatches/{actionBatchId}": {
      "get": {
        "tags": ["Action batches"],
        "summary": "getOrganizationActionBatch",
        "description": "Return an action batch",
        "operationId": "getOrganizationActionBatch",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionBatchId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Action batches"],
        "summary": "deleteOrganizationActionBatch",
        "description": "Delete an action batch",
        "operationId": "deleteOrganizationActionBatch",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionBatchId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Action batches"],
        "summary": "updateOrganizationActionBatch",
        "description": "Update an action batch",
        "operationId": "updateOrganizationActionBatch",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionBatchId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateOrganizationActionBatch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"123\",\r\n  \"organizationId\": \"2930418\",\r\n  \"confirmed\": true,\r\n  \"synchronous\": false,\r\n  \"status\": {\r\n    \"completed\": false,\r\n    \"failed\": false,\r\n    \"errors\": []\r\n  },\r\n  \"actions\": [\r\n    {\r\n      \"resource\": \"/devices/QXXX-XXXX-XXXX/switchPorts/3\",\r\n      \"operation\": \"update\",\r\n      \"body\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/admins": {
      "get": {
        "tags": ["Admins"],
        "summary": "getOrganizationAdmins",
        "description": "List the dashboard administrators in this organization",
        "operationId": "getOrganizationAdmins",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"id\": \"212406\",\r\n    \"name\": \"Miles Meraki\",\r\n    \"email\": \"miles@meraki.com\",\r\n    \"orgAccess\": \"none\",\r\n    \"accountStatus\": \"ok\",\r\n    \"twoFactorAuthEnabled\": false,\r\n    \"hasApiKey\": true,\r\n    \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n    \"tags\": [\r\n      {\r\n        \"tag\": \"west\",\r\n        \"access\": \"read-only\"\r\n      }\r\n    ],\r\n    \"networks\": [\r\n      {\r\n        \"id\": \"N_24329156\",\r\n        \"access\": \"full\"\r\n      }\r\n    ]\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"id\": \"212406\",\r\n    \"name\": \"Miles Meraki\",\r\n    \"email\": \"miles@meraki.com\",\r\n    \"orgAccess\": \"none\",\r\n    \"accountStatus\": \"ok\",\r\n    \"twoFactorAuthEnabled\": false,\r\n    \"hasApiKey\": true,\r\n    \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n    \"tags\": [\r\n      {\r\n        \"tag\": \"west\",\r\n        \"access\": \"read-only\"\r\n      }\r\n    ],\r\n    \"networks\": [\r\n      {\r\n        \"id\": \"N_24329156\",\r\n        \"access\": \"full\"\r\n      }\r\n    ]\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Admins"],
        "summary": "createOrganizationAdmin",
        "description": "Create a new dashboard administrator",
        "operationId": "createOrganizationAdmin",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createOrganizationAdmin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/admins/{id}": {
      "put": {
        "tags": ["Admins"],
        "summary": "updateOrganizationAdmin",
        "description": "Update an administrator",
        "operationId": "updateOrganizationAdmin",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateOrganizationAdmin"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"212406\",\r\n  \"name\": \"Miles Meraki\",\r\n  \"email\": \"miles@meraki.com\",\r\n  \"orgAccess\": \"none\",\r\n  \"accountStatus\": \"ok\",\r\n  \"twoFactorAuthEnabled\": false,\r\n  \"hasApiKey\": true,\r\n  \"lastActive\": \"2019-01-28 14:58:56 -0800\",\r\n  \"tags\": [\r\n    {\r\n      \"tag\": \"west\",\r\n      \"access\": \"read-only\"\r\n    }\r\n  ],\r\n  \"networks\": [\r\n    {\r\n      \"id\": \"N_24329156\",\r\n      \"access\": \"full\"\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": ["Admins"],
        "summary": "deleteOrganizationAdmin",
        "description": "Revoke all access for a dashboard administrator within this organization",
        "operationId": "deleteOrganizationAdmin",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/alertSettings": {
      "get": {
        "tags": ["Alert settings"],
        "summary": "getNetworkAlertSettings",
        "description": "Return the alert configuration for this network",
        "operationId": "getNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Alert settings"],
        "summary": "updateNetworkAlertSettings",
        "description": "Update the alert configuration for this network",
        "operationId": "updateNetworkAlertSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNetworkAlertSettings"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"defaultDestinations\": {\r\n    \"emails\": [\r\n      \"miles@meraki.com\"\r\n    ],\r\n    \"allAdmins\": true,\r\n    \"snmp\": true\r\n  },\r\n  \"alerts\": [\r\n    {\r\n      \"type\": \"gatewayDown\",\r\n      \"enabled\": true,\r\n      \"alertDestinations\": {\r\n        \"emails\": [\r\n          \"miles@meraki.com\"\r\n        ],\r\n        \"allAdmins\": false,\r\n        \"snmp\": false\r\n      },\r\n      \"filters\": {\r\n        \"timeout\": 60\r\n      }\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/bluetoothClients": {
      "get": {
        "tags": ["Bluetooth clients"],
        "summary": "getNetworkBluetoothClients",
        "description": "List the Bluetooth clients seen by APs in this network",
        "operationId": "getNetworkBluetoothClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 7 days from today.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/bluetoothClients/{bluetoothClientId}": {
      "get": {
        "tags": ["Bluetooth clients"],
        "summary": "getNetworkBluetoothClient",
        "description": "Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.",
        "operationId": "getNetworkBluetoothClient",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bluetoothClientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeConnectivityHistory",
            "in": "query",
            "description": "Include the connectivity history for this client",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "connectivityHistoryTimespan",
            "in": "query",
            "description": "The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"1284392014819\",\r\n  \"mac\": \"22:33:44:55:66:77\",\r\n  \"networkId\": \"N_24329156\",\r\n  \"name\": \"Miles's phone\",\r\n  \"deviceName\": \"Bose QuietComfort 35\",\r\n  \"manufacturer\": \"Bose\",\r\n  \"lastSeen\": 1526087474,\r\n  \"seenByDeviceMac\": \"00:11:22:33:44:55\",\r\n  \"inSightAlert\": false,\r\n  \"outOfSightAlert\": false,\r\n  \"tags\": [\r\n    \"tag1\",\r\n    \"tag2\"\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"id\": \"1284392014819\",\r\n  \"mac\": \"22:33:44:55:66:77\",\r\n  \"networkId\": \"N_24329156\",\r\n  \"name\": \"Miles's phone\",\r\n  \"deviceName\": \"Bose QuietComfort 35\",\r\n  \"manufacturer\": \"Bose\",\r\n  \"lastSeen\": 1526087474,\r\n  \"seenByDeviceMac\": \"00:11:22:33:44:55\",\r\n  \"inSightAlert\": false,\r\n  \"outOfSightAlert\": false,\r\n  \"tags\": [\r\n    \"tag1\",\r\n    \"tag2\"\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/cameras/{serial}/snapshot": {
      "post": {
        "tags": ["Cameras"],
        "summary": "generateNetworkCameraSnapshot",
        "description": "Generate a snapshot of what the camera sees at the specified time and return a link to that image.",
        "operationId": "generateNetworkCameraSnapshot",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serial",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/generateNetworkCameraSnapshot"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\r\n  \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\r\n}"
                },
                "example": "{\r\n  \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\r\n  \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/cameras/{serial}/videoLink": {
      "get": {
        "tags": ["Cameras"],
        "summary": "getNetworkCameraVideoLink",
        "description": "Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.",
        "operationId": "getNetworkCameraVideoLink",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serial",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "[optional] The video link will start at this time. The timestamp should be a string in ISO8601 format. If no timestamp is specified, we will assume current time.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\r\n}"
                },
                "example": "{\r\n  \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "tags": ["Clients"],
        "summary": "getDeviceClients",
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "operationId": "getDeviceClients",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"usage\": {\r\n    \"sent\": 138,\r\n    \"recv\": 61\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"mdnsName\": \"Miles's phone\",\r\n  \"dhcpHostname\": \"MilesPhone\"\r\n}"
                },
                "example": "{\r\n  \"usage\": {\r\n    \"sent\": 138,\r\n    \"recv\": 61\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"mdnsName\": \"Miles's phone\",\r\n  \"dhcpHostname\": \"MilesPhone\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClients",
        "description": "List the clients that have used this network in the timespan",
        "operationId": "getNetworkClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"usage\": {\r\n    \"sent\": 138,\r\n    \"recv\": 61\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\"\r\n}"
                },
                "example": "{\r\n  \"usage\": {\r\n    \"sent\": 138,\r\n    \"recv\": 61\r\n  },\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"milesmeraki\",\r\n  \"vlan\": 255,\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/provision": {
      "post": {
        "tags": ["Clients"],
        "summary": "provisionNetworkClients",
        "description": "Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.",
        "operationId": "provisionNetworkClients",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/provisionNetworkClients"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"clientId\": \"k74272e\",\r\n  \"name\": \"Miles's phone\",\r\n  \"devicePolicy\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
                },
                "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"clientId\": \"k74272e\",\r\n  \"name\": \"Miles's phone\",\r\n  \"devicePolicy\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClient",
        "description": "Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClient",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"null\",\r\n  \"vlan\": \"255\",\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\",\r\n  \"ssid\": \"My SSID\",\r\n  \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\r\n  \"smInstalled\": true,\r\n  \"recentDeviceMac\": \"00:11:22:33:44:55\",\r\n  \"clientVpnConnections\": [\r\n    {\r\n      \"remoteIp\": \"1.2.3.4\",\r\n      \"connectedAt\": 1522613355,\r\n      \"disconnectedAt\": 1522613360\r\n    }\r\n  ],\r\n  \"lldp\": [\r\n    [\r\n      \"System name\",\r\n      \"Some system name\"\r\n    ],\r\n    [\r\n      \"System description\",\r\n      \"Some system description\"\r\n    ],\r\n    [\r\n      \"Port ID\",\r\n      \"1\"\r\n    ],\r\n    [\r\n      \"Chassis ID\",\r\n      \"00:18:0a:00:00:00\"\r\n    ],\r\n    [\r\n      \"Port description\",\r\n      \"eth0\"\r\n    ],\r\n    [\r\n      \"System capabilities\",\r\n      \"Two-port MAC Relay\"\r\n    ]\r\n  ],\r\n  \"cdp\": null,\r\n  \"status\": \"Online\"\r\n}"
                },
                "example": "{\r\n  \"id\": \"k74272e\",\r\n  \"description\": \"Miles's phone\",\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"ip\": \"1.2.3.4\",\r\n  \"user\": \"null\",\r\n  \"vlan\": \"255\",\r\n  \"switchport\": null,\r\n  \"ip6\": \"\",\r\n  \"firstSeen\": 1518365681,\r\n  \"lastSeen\": 1526087474,\r\n  \"manufacturer\": \"Apple\",\r\n  \"os\": \"iOS\",\r\n  \"ssid\": \"My SSID\",\r\n  \"wirelessCapabilities\": \"802.11ac - 2.4 and 5 GHz\",\r\n  \"smInstalled\": true,\r\n  \"recentDeviceMac\": \"00:11:22:33:44:55\",\r\n  \"clientVpnConnections\": [\r\n    {\r\n      \"remoteIp\": \"1.2.3.4\",\r\n      \"connectedAt\": 1522613355,\r\n      \"disconnectedAt\": 1522613360\r\n    }\r\n  ],\r\n  \"lldp\": [\r\n    [\r\n      \"System name\",\r\n      \"Some system name\"\r\n    ],\r\n    [\r\n      \"System description\",\r\n      \"Some system description\"\r\n    ],\r\n    [\r\n      \"Port ID\",\r\n      \"1\"\r\n    ],\r\n    [\r\n      \"Chassis ID\",\r\n      \"00:18:0a:00:00:00\"\r\n    ],\r\n    [\r\n      \"Port description\",\r\n      \"eth0\"\r\n    ],\r\n    [\r\n      \"System capabilities\",\r\n      \"Two-port MAC Relay\"\r\n    ]\r\n  ],\r\n  \"cdp\": null,\r\n  \"status\": \"Online\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/events": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientEvents",
        "description": "Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientEvents",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"deviceSerial\": \"Q234-ABCD-5678\",\r\n    \"occurredAt\": 1518365681,\r\n    \"type\": \"l3roaming_assoc_start\",\r\n    \"details\": {\r\n      \"vap\": \"1\",\r\n      \"on_packet\": \"true\"\r\n    }\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"deviceSerial\": \"Q234-ABCD-5678\",\r\n    \"occurredAt\": 1518365681,\r\n    \"type\": \"l3roaming_assoc_start\",\r\n    \"details\": {\r\n      \"vap\": \"1\",\r\n      \"on_packet\": \"true\"\r\n    }\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/latencyHistory": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientLatencyHistory",
        "description": "Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.",
        "operationId": "getNetworkClientLatencyHistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 791 days from today.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 791 days after t0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double",
              "example": 7200
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"t0\": 1550534400,\r\n    \"t1\": 1550620800,\r\n    \"latencyBinsByCategory\": {\r\n      \"backgroundTraffic\": {\r\n        \"0.5\": 41750,\r\n        \"1.0\": 21552,\r\n        \"2.0\": 59940,\r\n        \"4.0\": 146622,\r\n        \"8.0\": 57354,\r\n        \"16.0\": 0,\r\n        \"32.0\": 9954,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 1896,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"bestEffortTraffic\": {\r\n        \"0.5\": 1840899,\r\n        \"1.0\": 1644506,\r\n        \"2.0\": 629958,\r\n        \"4.0\": 449564,\r\n        \"8.0\": 2009658,\r\n        \"16.0\": 1329568,\r\n        \"32.0\": 282168,\r\n        \"64.0\": 97573,\r\n        \"128.0\": 191977,\r\n        \"256.0\": 30560,\r\n        \"512.0\": 26032,\r\n        \"1024.0\": 4943,\r\n        \"2048.0\": 12072\r\n      },\r\n      \"videoTraffic\": {\r\n        \"0.5\": 0,\r\n        \"1.0\": 0,\r\n        \"2.0\": 0,\r\n        \"4.0\": 0,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"voiceTraffic\": {\r\n        \"0.5\": 716,\r\n        \"1.0\": 948,\r\n        \"2.0\": 474,\r\n        \"4.0\": 78,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      }\r\n    }\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"t0\": 1550534400,\r\n    \"t1\": 1550620800,\r\n    \"latencyBinsByCategory\": {\r\n      \"backgroundTraffic\": {\r\n        \"0.5\": 41750,\r\n        \"1.0\": 21552,\r\n        \"2.0\": 59940,\r\n        \"4.0\": 146622,\r\n        \"8.0\": 57354,\r\n        \"16.0\": 0,\r\n        \"32.0\": 9954,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 1896,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"bestEffortTraffic\": {\r\n        \"0.5\": 1840899,\r\n        \"1.0\": 1644506,\r\n        \"2.0\": 629958,\r\n        \"4.0\": 449564,\r\n        \"8.0\": 2009658,\r\n        \"16.0\": 1329568,\r\n        \"32.0\": 282168,\r\n        \"64.0\": 97573,\r\n        \"128.0\": 191977,\r\n        \"256.0\": 30560,\r\n        \"512.0\": 26032,\r\n        \"1024.0\": 4943,\r\n        \"2048.0\": 12072\r\n      },\r\n      \"videoTraffic\": {\r\n        \"0.5\": 0,\r\n        \"1.0\": 0,\r\n        \"2.0\": 0,\r\n        \"4.0\": 0,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      },\r\n      \"voiceTraffic\": {\r\n        \"0.5\": 716,\r\n        \"1.0\": 948,\r\n        \"2.0\": 474,\r\n        \"4.0\": 78,\r\n        \"8.0\": 0,\r\n        \"16.0\": 0,\r\n        \"32.0\": 0,\r\n        \"64.0\": 0,\r\n        \"128.0\": 0,\r\n        \"256.0\": 0,\r\n        \"512.0\": 0,\r\n        \"1024.0\": 0,\r\n        \"2048.0\": 0\r\n      }\r\n    }\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/policy": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientPolicy",
        "description": "Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientPolicy",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
                },
                "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Clients"],
        "summary": "updateNetworkClientPolicy",
        "description": "Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "updateNetworkClientPolicy",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNetworkClientPolicy"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
                },
                "example": "{\r\n  \"mac\": \"00:11:22:33:44:55\",\r\n  \"type\": \"Group policy\",\r\n  \"groupPolicyId\": \"101\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/splashAuthorizationStatus": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientSplashAuthorizationStatus",
        "description": "Return the splash authorization for a client, for each SSID they've associated with through splash. Only enabled SSIDs with Click-through splash enabled will be included. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientSplashAuthorizationStatus",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
                },
                "example": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Clients"],
        "summary": "updateNetworkClientSplashAuthorizationStatus",
        "description": "Update a client's splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "updateNetworkClientSplashAuthorizationStatus",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNetworkClientSplashAuthorizationStatus"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
                },
                "example": "{\r\n  \"ssids\": {\r\n    \"0\": {\r\n      \"isAuthorized\": true,\r\n      \"authorizedAt\": \"2017-07-19 16:24:13 UTC\",\r\n      \"expiresAt\": \"2017-07-20 16:24:13 UTC\"\r\n    },\r\n    \"2\": {\r\n      \"isAuthorized\": false\r\n    }\r\n  }\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/trafficHistory": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientTrafficHistory",
        "description": "Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientTrafficHistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"ts\": 1518365681,\r\n    \"application\": \"Google\",\r\n    \"destination\": \"www.google.com\",\r\n    \"protocol\": \"UDP\",\r\n    \"port\": 443,\r\n    \"recv\": 383,\r\n    \"sent\": 56,\r\n    \"numFlows\": 5,\r\n    \"activeSeconds\": 240\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"ts\": 1518365681,\r\n    \"application\": \"Google\",\r\n    \"destination\": \"www.google.com\",\r\n    \"protocol\": \"UDP\",\r\n    \"port\": 443,\r\n    \"recv\": 383,\r\n    \"sent\": 56,\r\n    \"numFlows\": 5,\r\n    \"activeSeconds\": 240\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/clients/{clientId}/usageHistory": {
      "get": {
        "tags": ["Clients"],
        "summary": "getNetworkClientUsageHistory",
        "description": "Return the client's daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkClientUsageHistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"sent\": 500,\r\n    \"received\": 680,\r\n    \"ts\": 1518365681\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"sent\": 500,\r\n    \"received\": 680,\r\n    \"ts\": 1518365681\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/configTemplates": {
      "get": {
        "tags": ["Config templates"],
        "summary": "getOrganizationConfigTemplates",
        "description": "List the configuration templates for this organization",
        "operationId": "getOrganizationConfigTemplates",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"id\": \"N_24329156\",\r\n    \"name\": \"My config template\"\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"id\": \"N_24329156\",\r\n    \"name\": \"My config template\"\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/configTemplates/{configTemplateId}": {
      "delete": {
        "tags": ["Config templates"],
        "summary": "deleteOrganizationConfigTemplate",
        "description": "Remove a configuration template",
        "operationId": "deleteOrganizationConfigTemplate",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configTemplateId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/connectivityMonitoringDestinations": {
      "get": {
        "tags": ["Connectivity monitoring destinations"],
        "summary": "getNetworkConnectivityMonitoringDestinations",
        "description": "Return the connectivity testing destinations for an MX network",
        "operationId": "getNetworkConnectivityMonitoringDestinations",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"destinations\": [\r\n    {\r\n      \"ip\": \"8.8.8.8\",\r\n      \"description\": \"Google\",\r\n      \"default\": false\r\n    },\r\n    {\r\n      \"ip\": \"1.23.45.67\",\r\n      \"description\": \"test description\",\r\n      \"default\": true\r\n    },\r\n    {\r\n      \"ip\": \"9.8.7.6\",\r\n      \"description\": null,\r\n      \"default\": false\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"destinations\": [\r\n    {\r\n      \"ip\": \"8.8.8.8\",\r\n      \"description\": \"Google\",\r\n      \"default\": false\r\n    },\r\n    {\r\n      \"ip\": \"1.23.45.67\",\r\n      \"description\": \"test description\",\r\n      \"default\": true\r\n    },\r\n    {\r\n      \"ip\": \"9.8.7.6\",\r\n      \"description\": null,\r\n      \"default\": false\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Connectivity monitoring destinations"],
        "summary": "updateNetworkConnectivityMonitoringDestinations",
        "description": "Update the connectivity testing destinations for an MX network",
        "operationId": "updateNetworkConnectivityMonitoringDestinations",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNetworkConnectivityMonitoringDestinations"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"destinations\": [\r\n    {\r\n      \"ip\": \"8.8.8.8\",\r\n      \"description\": \"Google\",\r\n      \"default\": false\r\n    },\r\n    {\r\n      \"ip\": \"1.23.45.67\",\r\n      \"description\": \"test description\",\r\n      \"default\": true\r\n    },\r\n    {\r\n      \"ip\": \"9.8.7.6\",\r\n      \"description\": null,\r\n      \"default\": false\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"destinations\": [\r\n    {\r\n      \"ip\": \"8.8.8.8\",\r\n      \"description\": \"Google\",\r\n      \"default\": false\r\n    },\r\n    {\r\n      \"ip\": \"1.23.45.67\",\r\n      \"description\": \"test description\",\r\n      \"default\": true\r\n    },\r\n    {\r\n      \"ip\": \"9.8.7.6\",\r\n      \"description\": null,\r\n      \"default\": false\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/contentFiltering/categories": {
      "get": {
        "tags": ["Content filtering categories"],
        "summary": "getNetworkContentFilteringCategories",
        "description": "List all available content filtering categories for an MX network",
        "operationId": "getNetworkContentFilteringCategories",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"categories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/3\",\r\n      \"name\": \"Financial Services\"\r\n    },\r\n    \"...\",\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/11\",\r\n      \"name\": \"Adult and Pornography\"\r\n    }\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"categories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/3\",\r\n      \"name\": \"Financial Services\"\r\n    },\r\n    \"...\",\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/11\",\r\n      \"name\": \"Adult and Pornography\"\r\n    }\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/networks/{networkId}/contentFiltering": {
      "get": {
        "tags": ["Content filtering rules"],
        "summary": "getNetworkContentFiltering",
        "description": "Return the content filtering settings for an MX network",
        "operationId": "getNetworkContentFiltering",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"allowedUrlPatterns\": [\r\n    \"http://www.example.org\",\r\n    \"http://help.com.au\"\r\n  ],\r\n  \"blockedUrlPatterns\": [\r\n    \"http://www.example.com\",\r\n    \"http://www.betting.com\"\r\n  ],\r\n  \"blockedUrlCategories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/7\",\r\n      \"name\": \"Shopping\"\r\n    }\r\n  ],\r\n  \"urlCategoryListSize\": \"topSites\"\r\n}"
                },
                "example": "{\r\n  \"allowedUrlPatterns\": [\r\n    \"http://www.example.org\",\r\n    \"http://help.com.au\"\r\n  ],\r\n  \"blockedUrlPatterns\": [\r\n    \"http://www.example.com\",\r\n    \"http://www.betting.com\"\r\n  ],\r\n  \"blockedUrlCategories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/7\",\r\n      \"name\": \"Shopping\"\r\n    }\r\n  ],\r\n  \"urlCategoryListSize\": \"topSites\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Content filtering rules"],
        "summary": "updateNetworkContentFiltering",
        "description": "Update the content filtering settings for an MX network",
        "operationId": "updateNetworkContentFiltering",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNetworkContentFiltering"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"allowedUrlPatterns\": [\r\n    \"http://www.example.org\",\r\n    \"http://help.com.au\"\r\n  ],\r\n  \"blockedUrlPatterns\": [\r\n    \"http://www.example.com\",\r\n    \"http://www.betting.com\"\r\n  ],\r\n  \"blockedUrlCategories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/7\",\r\n      \"name\": \"Shopping\"\r\n    }\r\n  ],\r\n  \"urlCategoryListSize\": \"topSites\"\r\n}"
                },
                "example": "{\r\n  \"allowedUrlPatterns\": [\r\n    \"http://www.example.org\",\r\n    \"http://help.com.au\"\r\n  ],\r\n  \"blockedUrlPatterns\": [\r\n    \"http://www.example.com\",\r\n    \"http://www.betting.com\"\r\n  ],\r\n  \"blockedUrlCategories\": [\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/1\",\r\n      \"name\": \"Real Estate\"\r\n    },\r\n    {\r\n      \"id\": \"meraki:contentFiltering/category/7\",\r\n      \"name\": \"Shopping\"\r\n    }\r\n  ],\r\n  \"urlCategoryListSize\": \"topSites\"\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/brandingPolicies": {
      "get": {
        "tags": ["Dashboard branding policies"],
        "summary": "getOrganizationBrandingPolicies",
        "description": "List the branding policies of an organization",
        "operationId": "getOrganizationBrandingPolicies",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "[\r\n  {\r\n    \"brandingPolicyId\": \"456\",\r\n    \"name\": \"My Branding Policy\",\r\n    \"enabled\": true,\r\n    \"adminSettings\": {\r\n      \"appliesTo\": \"All admins of networks...\",\r\n      \"values\": [\r\n        \"N_1234\",\r\n        \"L_5678\"\r\n      ]\r\n    },\r\n    \"helpSettings\": {\r\n      \"helpTab\": \"show\",\r\n      \"getHelpSubtab\": \"default or inherit\",\r\n      \"communitySubtab\": \"show\",\r\n      \"casesSubtab\": \"hide\",\r\n      \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n      \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n      \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n      \"ciscoMerakiProductDocumentation\": \"show\",\r\n      \"supportContactInfo\": \"show\",\r\n      \"newFeaturesSubtab\": \"show\",\r\n      \"firewallInfoSubtab\": \"hide\",\r\n      \"apiDocsSubtab\": \"default or inherit\",\r\n      \"hardwareReplacementsSubtab\": \"hide\",\r\n      \"smForums\": \"hide\"\r\n    }\r\n  }\r\n]"
                },
                "example": "[\r\n  {\r\n    \"brandingPolicyId\": \"456\",\r\n    \"name\": \"My Branding Policy\",\r\n    \"enabled\": true,\r\n    \"adminSettings\": {\r\n      \"appliesTo\": \"All admins of networks...\",\r\n      \"values\": [\r\n        \"N_1234\",\r\n        \"L_5678\"\r\n      ]\r\n    },\r\n    \"helpSettings\": {\r\n      \"helpTab\": \"show\",\r\n      \"getHelpSubtab\": \"default or inherit\",\r\n      \"communitySubtab\": \"show\",\r\n      \"casesSubtab\": \"hide\",\r\n      \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n      \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n      \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n      \"ciscoMerakiProductDocumentation\": \"show\",\r\n      \"supportContactInfo\": \"show\",\r\n      \"newFeaturesSubtab\": \"show\",\r\n      \"firewallInfoSubtab\": \"hide\",\r\n      \"apiDocsSubtab\": \"default or inherit\",\r\n      \"hardwareReplacementsSubtab\": \"hide\",\r\n      \"smForums\": \"hide\"\r\n    }\r\n  }\r\n]"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["Dashboard branding policies"],
        "summary": "createOrganizationBrandingPolicy",
        "description": "Add a new branding policy to an organization",
        "operationId": "createOrganizationBrandingPolicy",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createOrganizationBrandingPolicy"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"brandingPolicyId\": \"456\",\r\n  \"name\": \"My Branding Policy\",\r\n  \"enabled\": true,\r\n  \"adminSettings\": {\r\n    \"appliesTo\": \"All admins of networks...\",\r\n    \"values\": [\r\n      \"N_1234\",\r\n      \"L_5678\"\r\n    ]\r\n  },\r\n  \"helpSettings\": {\r\n    \"helpTab\": \"show\",\r\n    \"getHelpSubtab\": \"default or inherit\",\r\n    \"communitySubtab\": \"show\",\r\n    \"casesSubtab\": \"hide\",\r\n    \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n    \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n    \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n    \"ciscoMerakiProductDocumentation\": \"show\",\r\n    \"supportContactInfo\": \"show\",\r\n    \"newFeaturesSubtab\": \"show\",\r\n    \"firewallInfoSubtab\": \"hide\",\r\n    \"apiDocsSubtab\": \"default or inherit\",\r\n    \"hardwareReplacementsSubtab\": \"hide\",\r\n    \"smForums\": \"hide\"\r\n  }\r\n}"
                },
                "example": "{\r\n  \"brandingPolicyId\": \"456\",\r\n  \"name\": \"My Branding Policy\",\r\n  \"enabled\": true,\r\n  \"adminSettings\": {\r\n    \"appliesTo\": \"All admins of networks...\",\r\n    \"values\": [\r\n      \"N_1234\",\r\n      \"L_5678\"\r\n    ]\r\n  },\r\n  \"helpSettings\": {\r\n    \"helpTab\": \"show\",\r\n    \"getHelpSubtab\": \"default or inherit\",\r\n    \"communitySubtab\": \"show\",\r\n    \"casesSubtab\": \"hide\",\r\n    \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n    \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n    \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n    \"ciscoMerakiProductDocumentation\": \"show\",\r\n    \"supportContactInfo\": \"show\",\r\n    \"newFeaturesSubtab\": \"show\",\r\n    \"firewallInfoSubtab\": \"hide\",\r\n    \"apiDocsSubtab\": \"default or inherit\",\r\n    \"hardwareReplacementsSubtab\": \"hide\",\r\n    \"smForums\": \"hide\"\r\n  }\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/brandingPolicies/priorities": {
      "get": {
        "tags": ["Dashboard branding policies"],
        "summary": "getOrganizationBrandingPoliciesPriorities",
        "description": "Return the branding policy IDs of an organization in priority order. IDs are ordered in ascending order of priority (IDs later in the array have higher priority).",
        "operationId": "getOrganizationBrandingPoliciesPriorities",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"brandingPolicyIds\": [\r\n    \"123\",\r\n    \"456\",\r\n    \"789\"\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"brandingPolicyIds\": [\r\n    \"123\",\r\n    \"456\",\r\n    \"789\"\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Dashboard branding policies"],
        "summary": "updateOrganizationBrandingPoliciesPriorities",
        "description": "Update the priority ordering of an organization's branding policies.",
        "operationId": "updateOrganizationBrandingPoliciesPriorities",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateOrganizationBrandingPoliciesPriorities"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"brandingPolicyIds\": [\r\n    \"123\",\r\n    \"456\",\r\n    \"789\"\r\n  ]\r\n}"
                },
                "example": "{\r\n  \"brandingPolicyIds\": [\r\n    \"123\",\r\n    \"456\",\r\n    \"789\"\r\n  ]\r\n}"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organizationId}/brandingPolicies/{brandingPolicyId}": {
      "get": {
        "tags": ["Dashboard branding policies"],
        "summary": "getOrganizationBrandingPolicy",
        "description": "Return a branding policy",
        "operationId": "getOrganizationBrandingPolicy",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandingPolicyId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
                  "example": "{\r\n  \"brandingPolicyId\": \"456\",\r\n  \"name\": \"My Branding Policy\",\r\n  \"enabled\": true,\r\n  \"adminSettings\": {\r\n    \"appliesTo\": \"All admins of networks...\",\r\n    \"values\": [\r\n      \"N_1234\",\r\n      \"L_5678\"\r\n    ]\r\n  },\r\n  \"helpSettings\": {\r\n    \"helpTab\": \"show\",\r\n    \"getHelpSubtab\": \"default or inherit\",\r\n    \"communitySubtab\": \"show\",\r\n    \"casesSubtab\": \"hide\",\r\n    \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n    \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n    \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n    \"ciscoMerakiProductDocumentation\": \"show\",\r\n    \"supportContactInfo\": \"show\",\r\n    \"newFeaturesSubtab\": \"show\",\r\n    \"firewallInfoSubtab\": \"hide\",\r\n    \"apiDocsSubtab\": \"default or inherit\",\r\n    \"hardwareReplacementsSubtab\": \"hide\",\r\n    \"smForums\": \"hide\"\r\n  }\r\n}"
                },
                "example": "{\r\n  \"brandingPolicyId\": \"456\",\r\n  \"name\": \"My Branding Policy\",\r\n  \"enabled\": true,\r\n  \"adminSettings\": {\r\n    \"appliesTo\": \"All admins of networks...\",\r\n    \"values\": [\r\n      \"N_1234\",\r\n      \"L_5678\"\r\n    ]\r\n  },\r\n  \"helpSettings\": {\r\n    \"helpTab\": \"show\",\r\n    \"getHelpSubtab\": \"default or inherit\",\r\n    \"communitySubtab\": \"show\",\r\n    \"casesSubtab\": \"hide\",\r\n    \"dataProtectionRequestsSubtab\": \"default or inherit\",\r\n    \"getHelpSubtabKnowledgeBaseSearch\": \"<h1>Some custom HTML content</h1>\",\r\n    \"universalSearchKnowledgeBaseSearch\": \"hide\",\r\n    \"ciscoMerakiProductDocumentation\": \"show\",\r\n    \"supportContactInfo\": \"show\",\r\n    \"newFeaturesSubtab\": \"show\",\r\n    \"firewallInfoSubtab\": \"hide\",\r\n    \"apiDocsSubtab\": \"default or inherit\",\r\n    \"hardwareReplacementsSubtab\": \"hide\",\r\n    \"smForums\": \"hide\"\r\n  }\r\n}"
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": ["Dashboard branding policies"],
        "summary": "updateOrganizationBrandingPolicy",
        "description": "Update a branding policy",
        "operationId": "updateOrganizationBrandingPolicy",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandingPolicyId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateOrganizationBrandingPolicy"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Successful operation",
[...]
